<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Styles/style.css" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link href="https://surveyjs.azureedge.net/1.1.22/survey.css" type="text/css" rel="stylesheet" />


   
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>   
    </div>


</body>
</html>
